body {
  color: #455a64;
  font-size: 18px;
  font-weight: 200;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.logo {
  width: 80px;
  height: auto;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.landing_txt {
  position: absolute;
  width: 850px;
  height: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.landing_subpages_txt {
  position: absolute;
  width: 600px;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.chevron_down {
  position: absolute;
  width: 60px;
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.pos_r {
  position: relative;
}

.bg_main {
  /*background-image: url('../images/Header-Img.png');*/
  /*background-image: url('../images/home-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  background: linear-gradient(124deg, #e26a6a, #f4a460);
  height: 100vh;
  width: 100%;
}

.bg_subpages {
  background: linear-gradient(124deg, #e26a6a, #f4a460);
  height: 60vh;
  width: 100%;
}

.bg_sub {
  background-color: #f9f9f9;
}

.bg_gray {
  background-color: #e6e6e6;
}

.w_clr {
  color: #fff;
}

.f_clr {
  color: #455a64 !important;
}

.gray-color {
  color: gray;
}

.o_clr {
  color: #e26a6a;
}

.g_clr {
  color: #c3e54b;
}

.r_clr {
  color: red;
}

.butt {
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
}

.butt:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.butt_main {
  padding: 10px 30px;
  border: 1px solid #e26a6a;
  /*background-color: #e26a6a;*/
  border-radius: 30px;
  color: #e26a6a;
}

.butt_main:hover {
  background-color: #e26a6a;
  text-decoration: none;
  color: #fff;
}

.butt_org {
  padding: 10px 30px;
  border: 1px solid #f4a460;
  /*background-color: #f4a460;*/
  border-radius: 30px;
  color: #f4a460;
}

.butt_org:hover {
  background-color: #f4a460;
  text-decoration: none;
  color: #fff;
}

.know:hover {
  text-decoration: none;
  color: #c3e54b;
}

.card_box {
  border: none;
  border-radius: 0;
  background-color: #fff;
  border-bottom: 2px solid #e0e0e0;
  /*background-color: #f5f5f5;
  border-bottom: 2px solid #c3e54b;*/
}

.fb {
  color: #3b5998;
}

.fb:hover {
  color: #3b5998 !important;
  text-decoration: none !important;
}

.google:hover {
  color: #d34836 !important;
}

.twitter {
  color: #1dcaff;
}

.twitter:hover {
  color: #1dcaff !important;
  text-decoration: none !important;
}

.fs_52 {
  font-size: 52px;
}

.fs_36 {
  font-size: 36px;
}

.fs_22 {
  font-size: 22px;
}

.fs_26 {
  font-size: 26px;
}

.fs_16 {
  font-size: 16px;
}

.fw_300 {
  font-weight: 300;
}

.fw_500 {
  font-weight: 500;
}

.fw_800 {
  font-weight: 800;
}

.anchor:hover {
  text-decoration: none !important;
  color: #e26a6a;
}

.anchor1:hover {
  text-decoration: none !important;
  color: #fff;
}

.f_anchor {
  text-decoration: none;
  color: #455a64;
}

.f_anchor:hover {
  text-decoration: none;
  color: #455a64;
}

/*.services:hover .con_icons .card-title a {
  color: red !important;
}*/

.ptb_15 {
  padding: 15px 0;
}

.ptb_20 {
  padding: 20px 0;
}

.pt_20 {
  padding: 20px 0 0;
}

.ptb_50 {
  padding: 80px 0;
}

.pb_40 {
  padding-bottom: 40px;
}

.plr_10 {
  padding: 0 10px;
}

.plr_5 {
  padding: 0 5px;
}

.m_0 {
  margin: 0 !important;
}

.mtb_20 {
  margin: 20px 0;
}

.p_0 {
  padding: 0 !important;
}

.ml_5 {
  margin-left: 5px;
}

.h_100 {
  height: 100vh;
}

.h_70 {
  height: 70vh;
}

.lh_25 {
  line-height: 25px;
}

.lh_12 {
  line-height: 1.2;
}

.align_j {
  text-align: justify;
  white-space: normal;
}

.icon_ring {
  border: 1px solid #fff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 3.5;
}

.bord_none {
  border: none !important;
}

footer {
  /*background-color: #1a1a1a;*/
  /*background-color: #000021;*/
  background: linear-gradient(124deg, #e26a6a, #f4a460);
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}

.about_img {
  width: 80px;
  margin: 0 auto;
}

.sub_txt {
  width: 330px;
  margin: 12px auto;
}

.bg_service_img1 {
  background-image: url("./../images/service1.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  /*background-attachment: fixed;*/
  width: 100%;
  height: auto;
}

.bg_service_img2 {
  background-image: url("./../images/service2.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.bg_abt_img {
  background-image: url("./../images/working-at-desk.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 145vh;
  position: relative;
}

.bg_layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 145vh;
  width: 100%;
}

.box {
  padding: 30px 60px;
  /*background-color: rgba(255,255,255,0.7);*/
  background-color: #f4a460;
  color: #fff;
  /*opacity: 0.8;*/
}

.box1 {
  padding: 30px 60px;
}

.flex_box {
  display: flex;
  background-color: #f4a460;
}

.wid1 {
  width: 320px;
  margin: 0 auto;
  padding: 72px 0;
}

.dropdown-menu {
  background-color: #fff !important;
  border: none !important;
  margin-top: 12px !important;
  font-size: 16px !important;
}

.dropdown-menu>a.dropdown-item {
  /*color: #e26a6a;*/
  color: #f4a460;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #e26a6a !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #e26a6a !important;
  text-decoration: none;
}

ul li:last-child .dropdown>.dropdown-menu {
  left: -30px !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.address {
  width: 300px;
  margin: 60px auto;
}

.Officeaddress {
  width: 320px;
  margin: 10px auto;
}

.social_icons {
  background-color: #e26a6a;
  /*padding: 15px;*/
  border-radius: 100%;
}

.t_padd {
  padding: 10px 11px;
}

.g_padd {
  padding: 10px 13px;
}

.f_padd {
  padding: 10px 16px;
}

.con_icons {
  width: 80px;
  margin: 0 auto;
  border: 2px solid #eee;
  padding: 20px;
  border-radius: 50%;
}

.con_inpt {
  border: 0;
  color: #455a64 !important;
  border-radius: 0;
  font-size: 18px;
  font-weight: 100;
  background-color: transparent;
  transition: none !important;
  border-bottom: 1px solid #ccc;
}

.con_inpt:focus {
  border-color: #e26a6a;
  box-shadow: none !important;
  background-color: transparent;
  outline: 0;
}

.about_box {
  width: 500px;
  margin: 78px auto;
}

.trunk_box {
  width: 500px;
  margin: 197px auto;
}

.supra_box {
  width: 500px;
  margin: 135px auto;
}

.yash_box {
  width: 500px;
  margin: 114px auto;
}

.fit_box {
  width: 500px;
  margin: 184px auto;
}

.licence_box {
  width: 500px;
  margin: 162px auto;
}

.abt_img1 {
  background-image: url('./../images/abt1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.abt_layer {
  background-color: rgba(0, 0, 0, 0.7);
  /*padding: 150px;*/
}
.mapouter {
  text-align: right;
  height: 400px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 100%;
}
